<!DOCTYPE html>
<html lang="de">
    <!--unsichtbarer Teil der Webseite, Grundlegende Einstellungen der Seite-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Titel der Seite im Browser-Tab-->
    <title>N27-Login</title>
  </head>
  <!--Alles, was auf der Seite im Browserfenster angezeigt werden soll, muss im Body stehen.--> 
  <body>
    <h1>Bitte anmelden!</h1>
    <!--Element, dass etwas anzeigt-->
    <label>Benutzer-ID</label>
    <!-- Element vom Typ Text, indem etwas getippt werden kann-->
    <input type="text" name="Benutzerid">
    <label>Kennwort</label>
    <!-- Element vom Typ Passwort, das Eingaben maskiert-->
    <input type="password" name="password">
     <!-- Element vom Typ Button, das eine Schaltfläche zeigt-->
    <input type="button" name="Anmelden" value="anmelden">
  </body>
</html>